* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
/* HEADER */
header {
  height: 80px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid rgb(73, 70, 70);
}

/* Desktop logo */
.logo-container {
  min-width: 30%;
  margin-left: 6%;
}
.portfolio-logo {
  color: #a35cc4;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing:1.8px;
  line-height:0.8;
}
.portfolio-role{
  font-weight: 100;
  font-size: 0.8rem;
}

/* NAV BAR */
.nav-bar-container{
  display: flex;
  flex-wrap: wrap;
}
nav{
  margin-right: 5%;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #1f1f2d;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background:#ed861f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
nav ul li a:hover::after{
  width: 100%;
}
.nav-last-item{
  color: #ed861f;
}

/* MAIN 1 */
.main-container {
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 0px;
}
.main-container-image {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.main-image{
  width: 400px;
  height: 400px;
}
.main-container-intro{
  min-width: 50%;
}
.main-intro-line-3{
  font-size: 1rem;
  font-weight: 340;
}

/* MAIN 2 */
.main-container-2{
  background-color: #e5e5e5;
  display: flex;
  padding: 60px 0 60px;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 0.3px solid rgb(73, 70, 70); */
}
.main-container-2-image{
  display: flex;
  justify-content: space-around;
  min-width: 40%;
}
.main-container-2-intro-brief{
  min-width: 60%;
  padding-right: 30px;
}
.main-container-2-intro-brief h1{
  text-align: center;
}
.main-container-2-intro-brief p{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

/* FOOTER */
footer{
  padding: 12px;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ---------------------------------------PROJECTS CSS------------------------------------ */

.project-header{
  background-color: #e5e5e5;
  padding:40px 0;
  text-align: center;
}
.project-header h4{
  font-weight: 500;
}
.project-container{
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.3px solid rgb(73, 70, 70);
  padding: 40px 0 80px;
}
.box-container{
  height: 550px;
  width: 27%;
  border-radius: 8px;
  box-shadow: 5px 10px 8px 10px #888888;
}
.project-container-1{
  background-size: 410px 250px;
  background-repeat: no-repeat;
  height: 270px;
  border-radius: 8px;
}
.project-container-2{
  background-size: 456px 250px;
  background-repeat: no-repeat;
  height: 270px;
  border-radius: 8px;
}
.box-container h3{
  text-align: center;
  line-height: 2;
  font-weight: 600;
}
.box-container p{
  margin: 10px;
  text-align: justify;
  font-weight: 500;
}
.box-container button{
  text-align: center;
}